/* APP */

.App {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#app-main-container {
    min-width: 435px;
    justify-content: center;
    padding: 10px;
    padding-bottom: 0px;
    margin: auto;
}

/* navbar */

#nav-container {
    background-color: white;

}

#logo-name {
    max-width: 175px;
}

.nav-btn-start-now {
    text-align: center;
    background-color: #9aeeac;
    text-transform: capitalize;
    width: 150px;
    font-weight: bold;
    color: black;
    border: 0;
}

.nav-drop-down-btn {
    text-align: center;
    background-color: #9aeeac;
    text-transform: capitalize;
    width: 150px;
    font-weight: bold;
    color: white;
    border: 0;
}

/* HOME PAGE */

.home-container {
    background-image: url("./assets/skyline-background-v2.jpg");
    background-size: cover;
    height: 50vh;
}
#ban-statement {
    color: white;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
}

#ban-cards-container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

#banner-cards {
    min-width: 100px;
    flex-direction: column;
}

.icon-tiles {
    height: 75px;
}

/* SIGN UP MODAL */

.modal-min-w {
    min-width: 375px;
}

.modal-btn-start-now {
    text-align: center;
    background-color: #9aeeac;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    border: 0;
}

#modal-subtext {
    font-size: 15px;
    color: #afacac;
}

#modal-logo {
    width: 50px;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }

.footer-logo {
    height: 20px;
}

#footer-links {
    font-size: 13px;
}

#profile-btn-delete-account {
    text-align: center;
    background-color: #fa5c5c;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    border: 0;
}

.dropdown-toggle.caret-off::after {
    display: none;
}

.toggle-align-end::after {
    position: absolute;
    left: 80%;
    margin-top: 0.47em;
}

.ts-primary-green {
    background-color: #9aeeac;
}

.ts-primary-orange {
    background-color: #ffc179;
}

.ts-primary-text-green {
    color: #9aeeac;
}

.ts-primary-text-orange {
    color: #ffc179;
}

.ts-secondary-green {
    color: #EAFFEE;
}

.logo {
    height: 25px;
}

/* DASHBOARD */

.dashboard-container {
    height: 70vh;
}

