/* APP */

.App {
  text-align: center;
}

#app-main-container {
  min-width: 435px;
  max-width: 1200px;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

/* navbar */

#nav-container {
  background-color: white;
}

#logo-name {
  max-width: 175px;
}

#nav-height {
  height: 70px;
}

#nav-btn-start-now {
  text-align: center;
  background-color: #9AEEAC;
  text-transform: capitalize;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  font-weight: bold;
  color: black;
  border: 0;
}

#nav-drop-down-btn {
  text-align: center;
  background-color: #9AEEAC;
  text-transform: capitalize;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  font-weight: bold;
  color: black;
  border: 0;
}

#nav-div-start-now {
  align-items: right;
}

/* HOME PAGE */

#home-ban {
  background-color: #FFC179;

  max-width:1200px;
  height: 600px;
  padding: 0;
  padding-top: 50px;
  margin: 0;
}

#ban-statement {
  color: white;
  font-size: 50px;
  text-transform: capitalize;
  font-weight: bold;
}

#ban-cards-container{
  max-width: 600px;
  display: flex;
  justify-content: center;
}

#banner-cards {
  min-width: 100px;
  flex-direction: column;
}

/* SIGN UP MODAL */

#start-now-modal {
  min-width: 375px;
}

#modal-btn-start-now {
  text-align: center;
  background-color: #9AEEAC;
  text-transform: capitalize;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  font-weight: bold;
  color: black;
  border: 0;
}

#modal-subtext {
  font-size: 15px;
  color: #AFACAC;
}

#modal-logo {
  width: 50px;
}

/* FOOTER */

#footer-links {
  font-size: 13px;
}
