.App {
  text-align: center;
}

#logo-name {
  max-width: 175px;
}

#nav-height {
  height: 70px;
}

#nav-btn-start-now {
  text-align: center;
  background-color: #9AEEAC;
  text-transform: capitalize;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  color: black;
  border: 0;
}

#home-ban {
  background-color: #FFC179;
  max-width:none;
  min-height: 70vh;
  height: 80vh;
  padding: 0;
  padding-top: 50px;
  margin: 0;
}

#ban-statement {
  color: white;
  font-size: 50px;
  text-transform: capitalize;
  font-weight: bold;
}

#ban-cards-container{
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 600px;
}

#banner-cards {
  min-width: 100px;
}

/* MODAL */

#modal-btn-start-now {
  text-align: center;
  background-color: #9AEEAC;
  text-transform: capitalize;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  color: black;
  border: 0;
}

#modal-subtext {
  font-size: 15px;
  color: #CCCCCC;
}
